*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}
    /* box border */
    
header{
color: #fff;
background-color: rgb(89, 149, 218);
padding: 20px 0;
display: flex;
justify-content: center;
}
    
    .menu{
        
        width: 900px;
        display:flex;   
        justify-content: space-between;
    }
    
    .links{
        display: flex;
        gap: 20px;
    
    }
    .href-links{
        text-decoration: none;
    }
    .href-links:visited{
        color: #fff;
    }
    .Subscribe{
     color: rgb(89, 149, 218);
     font-weight: 600;
    
    
    }
    .hero-container{
    
        display: flex;
        background-color: rgb(205, 241, 255);
        justify-content: center ;
    }
    
    .hero{
        width: 900px;
        height: 400px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .photo-grid-container {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .photo-grid {
        width: 900px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      
      .photo-grid-item {
        border: 1px solid #fff;
        width: 300px;
        height: 300px;
      }